table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #818080;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;

}

th {
    background-color: #91973e;
    color: white;
}

tr:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
}